if [[ -f /etc/arch-release ]]; then
    alias cat="bat"
    alias fp="fzf --preview 'cat --color "always" {}'"
elif [[ -f /etc/debian_version ]]; then
    alias cat="batcat"
    alias fp="fzf --preview 'batcat --color "always" {}'"
else
    echo "Unsupported OS"
fi

alias l="exa"
alias la="exa -a"
alias ll="exa -l --icons --color=auto"
alias ls="exa --color=auto"
alias ping="prettyping --nolegend"
alias python="python3"

# Get External IP / Internet Speed
alias myip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
